{
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 120,
    "plugins": ["@shopify/prettier-plugin-liquid"],
    "overrides": [
        {
            "files": ["*.html", "*.liquid"],
            "options": {
                "parser": "liquid-html"
            }
        },
        {
            "files": ["*.css", "*.scss"],
            "options": {
                "singleQuote": false
            }
        }
    ]
}
