/* Colors */
$accent-blue: rgb(0 114 188);
$gray244: rgb(244 244 244);
$yellow: rgb(252 255 138);
$blue: rgb(27 22 43);
$red: rgb(211 6 0);
$blue-end: rgb(46 42 105);
$accent-1: rgb(11 60 103);
$accent-2: rgb(122, 106, 247);
$accent-3: rgb(255, 73, 73);
$gray191: rgb(191 191 191);
$gray222: rgb(222 222 222);
$gray202: rgb(202 202 202);

/* Images */
$sprite: url('../images/sprites.svg?v2');

/* Fonts */
$montserrat: 'Montserrat', sans-serif;
