<footer class="main-footer">
  <div class="main-footer__top">
    <aside class="main-footer__services">
      <h2>Services</h2>

      <ul>
        <li>HTML5 / CSS3</li>
        <li>PHP</li>
        <li>JavaScript</li>
        <li>WordPress Development</li>
        <li>Drupal Development</li>
        <li>Joomla Development</li>
      </ul>
    </aside>

    <div class="main-footer__socials">
      <aside>
        <h2>Connect</h2>
        <ul>
          <li>
            <a href="https://twitter.com/BlakeCerecero" target="_blank" rel="noopener">Twitter</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/blakecerecero" target="_blank" rel="noopener">LinkedIn</a>
          </li>
          <li>
            <a href="https://github.com/Blake-C" target="_blank" rel="noopener">GitHub</a>
          </li>
          <li>
            <a href="https://codepen.io/Blake-C/" target="_blank" rel="noopener">CodePen</a>
          </li>
        </ul>
      </aside>
    </div>
  </div>

  <hr>

  <div class="main-footer__lower">
    <div class="main-footer__assign">
      <p>Designed &amp; Developed by <strong>Blake Cerecero</strong></p>
    </div>
    <div class="main-footer__copyright">
      <p class="copyright">Copyright © 2012 - 2025 All Rights Reserved</p>
    </div>
  </div>
</footer>
