{%- assign default_author = site.data.authors[site.author.id] -%}
<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "Person",
		"@id": "{{ site.url }}/#person",
		"name": {{ default_author.name | jsonify }},
		"alternateName": {{ site.title | jsonify }},
		"url": "{{ site.url }}",
		"jobTitle": {{ default_author.jobTitle | jsonify }},
		"image": "{{ site.url }}/assets/icons/apple-touch-icon-180x180.png",
		"description": {{ default_author.description | jsonify }},
		"sameAs": [
			"https://github.com/{{ site.github_username }}",
			"https://www.linkedin.com/in/blakecerecero/",
			"https://codepen.io/Blake-C/"
		]
	}
</script>
<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "WebSite",
		"@id": "{{ site.url }}/#website",
		"name": {{ site.title | jsonify }},
		"url": "{{ site.url }}",
		"description": {{ site.description | strip_newlines | strip | jsonify }},
		"author": { "@id": "{{ site.url }}/#person" },
		"publisher": { "@id": "{{ site.url }}/#person" }
	}
</script>
