<section class="sites-gallery">
	<h2 class="sites-gallery__title">Websites</h2>

	<div class="row">
		<div class="medium-12 columns">
			<div class="sites-gallery__glass-background">
				<div class="row">
					<div class="medium-10 medium-offset-1 columns">
						<div class="row">
							{%- for site_item in site.websites -%}
								{%- assign modal_id = 'modal-' | append: forloop.index -%}

								<div class="large-4 medium-6 small-12 columns">
									<button
										type="button"
										data-micromodal-trigger="{{ modal_id }}"
										class="sites-gallery__button js_sites-gallery__button"
										aria-label="View details for {{ site_item.title | escape }}"
									>
										<img
											loading="lazy"
											width="600"
											height="400"
											class="sites-gallery__image wp-post-image"
											alt="Screenshot of {{ site_item.title | escape }}"
											decoding="async"
											src="{{ site_item.thumbnail | relative_url }}"
										>
									</button>
								</div>
							{%- endfor -%}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{%- for site_item in site.websites -%}
	{%- assign modal_id = 'modal-' | append: forloop.index -%}
	<template id="{{ modal_id }}-template">
		<div class="modal micromodal-slide" id="{{ modal_id }}" aria-hidden="true">
			<div class="modal__overlay" tabindex="-1" data-micromodal-close>
				<div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="{{ modal_id }}-title">
					<div class="modal__content" role="dialog" aria-modal="true" aria-labelledby="{{ modal_id }}-title">
						<header>
							<h4 class="modal__title" id="{{ modal_id }}-title">{{ site_item.title }}</h4>

							<button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
						</header>

						<div id="{{ modal_id }}-content">
							{{ site_item.content }}

							{%- if site_item.agency -%}
								<p class="has-text-align-center">
									<strong>Worked on while at<br></strong>{{ site_item.agency }}
								</p>
							{%- endif -%}

							{%- if site_item.team -%}
								<p class="has-text-align-center">
									<strong>Team</strong><br>
									{%- for member in site_item.team -%}
										{{ member.name }} ({{ member.role }})
										{%- unless forloop.last -%}<br>{%- endunless -%}
									{%- endfor -%}
								</p>
							{%- endif -%}

							<div class="wp-block-buttons is-content-justification-center">
								<div class="wp-block-button">
									<a
										class="button primary"
										href="{{ site_item.link }}"
										target="_blank"
										rel="noreferrer noopener"
									>
										{{- site_item.link_text -}}
									</a>
								</div>
							</div>

							<img
								loading="lazy"
								class="attachment-full size-full wp-post-image"
								alt=""
								decoding="async"
								data-src="{{ site_item.image | relative_url }}"
							>
						</div>
					</div>
				</div>
			</div>
		</div>
	</template>
{%- endfor -%}
