@use '../helpers/breakpoints' as bp;
@use '../helpers/variables' as v;

.articles-intro {
	background-color: v.$accent-4;
	border: 1px solid v.$accent-blue;
	border-radius: 4px;
	font-size: bp.rem-calc(16);
	margin-bottom: 30px;
	padding: 20px 25px;

	a {
		font-weight: bold;
	}

	p {
		margin-bottom: 0;
		margin-top: 0;
	}
}

.page-title {
	font-weight: 800;

	@include bp.breakpoint(medium) {
		font-size: bp.rem-calc(42);
	}
}

.entry-title {
	font-size: bp.rem-calc(22);
	font-weight: 800;
	line-height: 1.2;
	margin: 0;

	a {
		color: v.$black;
		text-decoration: none;
	}
}

.taxonomy-description {
	p {
		margin-bottom: 40px;
		margin-top: 0;
	}
}

.post-item {
	margin-bottom: 50px;
	position: relative;

	&:hover {
		.entry-title {
			text-decoration: underline;
			text-decoration-skip-ink: auto;
		}
	}

	.entry-content {
		margin: 15px 20px 15px 0;

		p {
			font-size: bp.rem-calc(15);
		}
	}

	.date-meta {
		height: 100%;
		padding: 20px;

		span {
			color: v.$white;
			display: block;
			font-size: bp.rem-calc(20);
			font-weight: 400;
			letter-spacing: 2px;
			line-height: 1;
			text-align: right;
			text-transform: uppercase;

			@include bp.breakpoint(medium) {
				font-size: bp.rem-calc(30);
			}
		}

		sup {
			font-size: bp.rem-calc(14);
			text-transform: lowercase;
		}
	}

	&:nth-child(6n + 1) {
		.date-meta {
			background-color: v.$archive-teal;
		}
	}

	&:nth-child(6n + 2) {
		.date-meta {
			background-color: v.$archive-blue;
		}
	}

	&:nth-child(6n + 3) {
		.date-meta {
			background-color: v.$archive-indigo;
		}
	}

	&:nth-child(6n + 4) {
		.date-meta {
			background-color: v.$archive-violet;
		}
	}

	&:nth-child(6n + 5) {
		.date-meta {
			background-color: v.$archive-magenta;
		}
	}

	&:nth-child(6n) {
		.date-meta {
			background-color: v.$archive-red;
		}
	}

	.post-link {
		background-color: v.$white;
		display: block;
		overflow: clip;
		padding: 0;
		transition:
			background-color 0.3s,
			box-shadow 0.3s;

		&:hover,
		&:focus {
			box-shadow: 2px 2px 0 1px rgb(0 0 0 / 23%);
			text-decoration: none;
		}

		&:focus-visible {
			outline: 2px solid v.$primary;
			outline-offset: -2px;
		}

		&:focus:not(:focus-visible) {
			outline: 0;
		}

		p {
			margin-bottom: 0;
		}
	}

	@include bp.breakpoint(small only) {
		.date-meta {
			height: auto;
			line-height: 1;
			padding: 10px 15px;

			span {
				display: inline-block;
				margin-right: 5px;
			}
		}

		.entry-content {
			margin: 15px;
		}
	}
}
