@use '../helpers/breakpoints' as bp;
@use '../helpers/cards' as cards;
@use '../helpers/helpers';
@use '../helpers/variables' as v;

.coding-projects-page {
	.top-header {
		border-bottom: 2px solid v.$white;
	}
}

.coding-projects {
	@extend %cover;

	background-color: v.$primary;
	background-image: url('../images/projects-background.webp');
	background-position: center;
	padding: 60px 0 90px;

	@media (max-width: 768px) {
		background-image: url('../images/projects-background-sm.webp');
	}

	&__title {
		color: v.$white;
		font-size: bp.rem-calc(16px);
		font-weight: 900;
		letter-spacing: 4.8px;
		line-height: 1.8;
		margin-bottom: bp.rem-calc(8);
		text-align: center;
		text-transform: uppercase;

		@include bp.breakpoint(medium) {
			font-size: bp.rem-calc(30);
		}
	}

	&__subtitle {
		color: rgba(255, 255, 255, 0.7);
		font-size: bp.rem-calc(13);
		font-weight: 400;
		letter-spacing: 0.5px;
		margin-bottom: bp.rem-calc(60);
		text-align: center;

		@include bp.breakpoint(medium) {
			font-size: bp.rem-calc(15);
		}
	}

	.columns {
		display: flex;
	}

	&__archive-cta {
		margin-top: bp.rem-calc(18);
		text-align: center;
	}
}

.coding-project {
	@include cards.clickable('.coding-project__link');

	backdrop-filter: blur(11px);
	background: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	box-shadow: 0 48px 18px -36px rgba(0, 0, 0, 0.18);
	color: v.$white;
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	padding: 30px 20px;
	width: 100%;

	p {
		font-size: bp.rem-calc(16);
	}

	&__title {
		font-size: bp.rem-calc(19);
		line-height: 1;
		margin: 0;
		text-transform: uppercase;
	}

	strong,
	&__subheading {
		font-size: bp.rem-calc(19);
		line-height: 1;
		text-transform: uppercase;
		margin-bottom: 5px;
		margin-top: 40px;
	}

	&__description {
		font-size: bp.rem-calc(15);
		margin-top: 0;
	}

	&__link {
		color: v.$white;
		font-size: bp.rem-calc(19);
		font-weight: 900;
		margin-top: auto;
	}

	@include bp.breakpoint(small only) {
		strong,
		&__link,
		&__title {
			font-size: bp.rem-calc(16);
		}
	}
}

.no-cssgradients {
	.coding-project {
		background: v.$blue;
	}
}
