footer {
	&.main {
		background-color: $blue;
		color: $white;
		padding: 40px 0;
		width: 100%;

		h2 {
			font-size: rem-calc(15);
			font-weight: 700;
			margin-bottom: 5px;
			text-transform: uppercase;
		}

		p {
			font-size: rem-calc(13);
			font-weight: 700;
			line-height: 24px;
			margin: 0;
		}

		a {
			color: $white;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}

			&[href*='twitter'] {
				&::before {
					background-position: -35px -83px;
				}
			}

			&[href*='linkedin'] {
				&::before {
					background-position: -35px -5px;
				}
			}

			&[href*='git'] {
				&::before {
					background-position: -35px -31px;
				}
			}

			&[href*='codepen'] {
				&::before {
					background-position: -35px -57px;
				}
			}
		}

		ul {
			font-size: rem-calc(13);
			font-weight: 700;
			line-height: 24px;
			margin: 0;
			padding: 0;

			li {
				list-style-type: none;
				margin-bottom: 10px;
			}
		}

		strong {
			font-family: $montserrat;
		}

		hr {
			margin: 20px 0;
			max-width: 100%;
		}

		.connect {
			a {
				&::before {
					background-image: $sprite;
					content: '';
					display: inline-block;
					height: 19px;
					margin-right: 8px;
					margin-top: -5px;
					vertical-align: middle;
					width: 21px;
				}
			}
		}

		.freelance {
			margin-top: 30px;

			a {
				&::after {
					background-image: $sprite;
					background-position: -6px -128px;
					content: '';
					display: inline-block;
					height: 19px;
					margin-left: 8px;
					margin-top: -5px;
					vertical-align: middle;
					width: 21px;
				}
			}
		}

		.copyright {
			text-align: right;
		}
	}

	@include breakpoint(medium) {
		&.main {
			.connect {
				padding-left: 15%;
			}
		}
	}

	@include breakpoint(small only) {
		&.main {
			padding: 25px 0;

			.freelance {
				margin: 30px 0;
			}

			.sub-footer,
			.copyright {
				text-align: center;
			}
		}
	}
}
