@use '../helpers/breakpoints' as bp;
@use '../helpers/variables' as v;

footer {
	&.main {
		background:
			url('../images/footer-background.svg') bottom right no-repeat,
			linear-gradient(to top, rgb(42, 42, 80), rgb(25, 25, 50));
		color: v.$white;
		padding: 60px 0;
		width: 100%;

		h2 {
			color: v.$accent-4;
			font-size: bp.rem-calc(15);
			font-weight: 700;
			margin-bottom: 5px;
			text-transform: uppercase;
		}

		p {
			font-size: bp.rem-calc(13);
			font-weight: 700;
			line-height: 24px;
			margin: 0;
		}

		a {
			color: v.$white;
			text-decoration: none;
		}

		ul {
			font-size: bp.rem-calc(13);
			font-weight: 700;
			line-height: 24px;
			margin: 0;
			padding: 0;

			li {
				list-style-type: none;
				margin-bottom: 10px;
			}
		}

		strong {
			font-family: v.$montserrat;
		}

		hr {
			margin: 20px 0;
			max-width: 100%;
		}

		.copyright {
			text-align: right;
		}
	}

	.sub-footer {
		color: v.$accent-4;
		padding-top: bp.rem-calc(65);
	}

	@include bp.breakpoint(large down) {
		&.main {
			background:
				url('../images/footer-background.svg') bottom center no-repeat,
				linear-gradient(to top, rgb(42, 42, 80), rgb(25, 25, 50));
		}
	}

	@include bp.breakpoint(medium) {
		&.main {
			.connect {
				padding-left: 15%;
			}
		}
	}

	@include bp.breakpoint(small only) {
		&.main {
			padding: 25px 0;

			.freelance {
				margin: 30px 0;
			}

			.sub-footer,
			.copyright {
				text-align: center;
			}
		}
	}
}
