@use '../helpers/breakpoints';
@use '../helpers/helpers';
@use '../helpers/variables';

.intro {
	@extend %cover;

	background-image: url('../images/header-background.webp');

	@media (max-width: 768px) {
		background-image: url('../images/header-background-sm.webp');
	}
	color: variables.$white;
	line-height: 26px;
	padding: clamp(150px, 8vw, 230px) 0;
	position: relative;

	&:before {
		background-color: rgba(255, 255, 255, 0.12);
		backdrop-filter: blur(10px);
		bottom: 0;
		content: '';
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 0;
		box-shadow: 1px 0 1px rgba(195, 227, 254, 0.37);
		transition: left 0.3s;

		@include breakpoints.breakpoint(large down) {
			left: -50%;
		}
	}

	> .row {
		position: relative;
		z-index: 20;
	}

	.title {
		font-size: breakpoints.rem-calc(60);
		font-weight: 800;
		line-height: 1;
		margin-bottom: breakpoints.rem-calc(16);
		text-transform: capitalize;
	}

	.line-1 {
		margin: 0;
		font-size: breakpoints.rem-calc(32);
		line-height: 1;
	}

	.line-2 {
		font-size: breakpoints.rem-calc(16);
		margin: breakpoints.rem-calc(16) 0;
	}

	.line-3 {
		font-weight: 500;
		margin-top: 64px;
	}

	p {
		font-size: breakpoints.rem-calc(18);
		font-weight: 800;
	}

	@include breakpoints.breakpoint(small only) {
		padding: clamp(150px, 8vw, 230px) 0 clamp(90px, 8vw, 230px);

		.title {
			font-size: breakpoints.rem-calc(36);
		}

		.line-1 {
			font-size: breakpoints.rem-calc(24);
		}

		.line-2 {
			font-size: breakpoints.rem-calc(14);
		}

		.line-3 {
			font-size: breakpoints.rem-calc(16);
			margin-top: breakpoints.rem-calc(36);
		}
	}
}
