.intro {
	@extend %cover;

	background-image: url('../images/header-background.svg');
	color: $white;
	line-height: 26px;
	padding: 230px 0;

	.title {
		font-size: rem-calc(64);
		font-weight: 800;
		line-height: 0;
		text-transform: capitalize;
	}

	.line-1 {
		margin: 0;
		font-size: rem-calc(32);
		line-height: 1;
	}

	.line-2 {
		font-size: rem-calc(16);
		margin: 15px 0;
	}

	.line-3 {
		font-weight: 500;
		margin-top: 64px;
	}

	p {
		font-size: rem-calc(18);
		font-weight: 800;
	}

	@include breakpoint(small only) {
		.title {
		}

		.line-1 {
			font-size: rem-calc(20);
		}

		.line-2 {
			font-size: rem-calc(14);
		}

		.line-3 {
			font-size: rem-calc(40);
		}
	}
}
