@use '../helpers/breakpoints' as bp;
@use '../helpers/variables' as v;

.wrapper {
	margin: 120px 0 40px;

	@include bp.breakpoint(medium) {
		margin: 80px 0 40px;
	}
}

.browserupgrade {
	background: v.$gray244;
	color: v.$black;
	margin: 0.2em 0;
	padding: 0.2em 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2000;
}
