@use '../helpers/breakpoints' as bp;
@use '../helpers/variables' as v;

.wrapper {
	background-color: v.$page-background;
	padding: 40px 0 70px;

	@include bp.breakpoint(medium) {
		padding: 80px 0 90px;
	}
}
