@use '../helpers/breakpoints' as bp;
@use '../helpers/variables' as v;

@use 'sass:color';

.main-menu {
	margin: 0;
	padding: 8px 0;
	text-align: right;

	li {
		display: inline;

		@include bp.breakpoint(medium) {
			&.callout-button {
				a {
					background-color: v.$red;
					border-radius: 5px;
					color: v.$white;
					margin-left: 10px;

					&:hover,
					&:focus {
						background-color: color.adjust(v.$red, $lightness: -6%);
					}
				}
			}
		}
	}

	a {
		color: v.$white;
		display: inline-block;
		font-size: bp.rem-calc(14);
		font-weight: 700;
		padding: 3px 15px;
		text-decoration: none;
		text-transform: uppercase;
		transition: all 0.3s;

		&:hover,
		&:focus {
			color: color.adjust(v.$accent-5, $lightness: -6%);
			text-decoration: none;
		}
	}

	@include bp.breakpoint(small only) {
		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-start;
		margin: 8px 0 0;
		overflow-x: auto;
		padding: 8px bp.rem-calc(48) 8px 0;
		scrollbar-width: none;
		text-align: left;
		transition: margin 0.3s;

		&::-webkit-scrollbar {
			display: none;
		}

		li {
			display: block;
			flex-shrink: 0;
		}

		a {
			font-size: bp.rem-calc(13);
		}
	}
}
