@use '../helpers/breakpoints';
@use '../helpers/variables';

@use 'sass:color';

.main-menu {
	margin: 0;
	padding: 8px 0;
	text-align: right;

	li {
		display: inline;

		@include breakpoints.breakpoint(medium) {
			&.callout-button {
				a {
					background-color: variables.$red;
					border-radius: 5px;
					color: variables.$white;
					margin-left: 10px;

					&:hover,
					&:focus {
						background-color: color.adjust(variables.$red, $lightness: -6%);
					}
				}
			}
		}
	}

	a {
		color: variables.$white;
		display: inline-block;
		font-size: breakpoints.rem-calc(15);
		font-weight: 700;
		padding: 3px 15px;
		text-decoration: none;
		text-transform: uppercase;
		transition: all 0.3s;

		&:hover,
		&:focus {
			color: color.adjust(variables.$accent-5, $lightness: -6%);
			text-decoration: none;
		}
	}

	@include breakpoints.breakpoint(small only) {
		margin: 25px 0 0;
		text-align: center;
		transition: all 0.3s;

		a {
			font-size: breakpoints.rem-calc(13);
		}
	}
}
