@use '../helpers/variables';

.password-form {
	.button {
		border-left: 0;
		border-radius: 0;
		height: 39px;
		transition: color 0.3s;
		width: 100%;

		&:hover {
			color: variables.$white;
		}
	}
}
