@use '../helpers/variables' as v;

.page-links {
	background-color: v.$blue;
	clear: both;
	color: v.$white;
	font-weight: 700;
	margin: 25px 20px 0;
	padding: 5px 15px;
	position: relative;

	a {
		border-radius: 5px;
		color: v.$white;

		&:hover,
		&:focus {
			background-color: v.$white;
			color: v.$blue;
		}
	}

	span {
		display: inline-block;
		padding: 0 10px;
	}

	&::after,
	&::before {
		border: 19px solid v.$blue;
		border-bottom-color: transparent;
		border-top-color: transparent;
		bottom: 0;
		content: '';
		display: block;
		height: 0;
		position: absolute;
		top: 0;
		width: 0;
	}

	&::before {
		border-left-color: transparent;
		left: -38px;
	}

	&::after {
		border-right-color: transparent;
		right: -38px;
	}
}

.post-pagination {
	ul {
		background-color: v.$blue;
		display: flex;
		flex-wrap: wrap;
		gap: 6px;
		justify-content: center;
		margin: 0 40px;
		padding: 4px;
		position: relative;
		text-align: center;

		&::after,
		&::before {
			border: 24px solid v.$blue;
			border-bottom-color: transparent;
			border-top-color: transparent;
			bottom: 0;
			content: '';
			display: block;
			height: 0;
			position: absolute;
			top: 0;
			width: 0;
		}

		&::before {
			border-left-color: transparent;
			left: -48px;
		}

		&::after {
			border-right-color: transparent;
			right: -48px;
		}
	}

	li {
		display: inline-block;
		list-style-type: none;
		margin: 0;
		padding: 0;

		&.active {
			a {
				background-color: v.$white;
				color: v.$black;

				&:hover {
					background-color: rgba(v.$white, 0.8);
				}
			}
		}
	}

	a {
		border-radius: 5px;
		color: v.$white;
		display: block;
		font-weight: 700;
		padding: 6px 15px;
		transition: background-color 0.3s;

		&:hover,
		&:focus {
			background-color: v.$white;
			color: v.$black;
			text-decoration: none;
		}
	}
}
