<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}">
	{%- include head.html -%}

	<body
		{% if page.body_class %}
			class="{{ page.body_class }}"
		{% endif %}
	>
		<a class="skip-link" href="#content">Skip to content</a>

		{%- include header.html -%}

		{{ content }}

		{%- if page.show_recommendations -%}
			{%- include recommendations.html -%}
		{%- endif -%}

		{%- include footer.html -%}

		{%- include sub-footer.html -%}
		<script>
			document.querySelectorAll('.js-mailto').forEach(function (e) {
				e.href = 'mailto:' + e.dataset.u + '@' + e.dataset.d
			})
		</script>
	</body>
</html>
